body{
    background-color: #e4d8d8;
}


/* headerCSS */
header{
    height: 150px;
    width: 70%;
    text-align: center;
    margin: auto;

}
.cont{
    height: 100px;
    width: 100%;

}
.logo{
    height: 80px;
    width: 100%;

}
.menu{
    height: 100px;
    width: 100%;
    margin: auto;
}
.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    margin-left: 80px;
    color: black;
    font-size: 20px;
}

/* loginCSS */
.container{
    height: 600px;
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: #4a4e69;
    
}
.head{
    text-align: center;
    padding-top: 30px;

}
h1{
    /* margin-top: ; */
}
.input{
    width: 450px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.btn{
    margin-left: 40%;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    text-align: center;
}
/* css of footer */
.one{
    height: 150px;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.first , .second{
    height: 50px;
    width: 33%;
    float: left;
}
.socialmedia{
    padding: 5px;
    margin-left: 4px;
    height: 40px;
}
.two{

    margin: auto;
    padding-top: 50px;
    text-align: center;
}